.vc_custom_1551787036740 {
    margin-right: 0!important;
    margin-left: 0!important;
    padding-top: 0!important;
    padding-bottom: 0!important
}

.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px
}

.blog .carousel-indicators .active {
    background: #707070
}

.carousel-indicators li {
    background: #a3a3a3
}

.carousel-indicators .active {
    background-color: #e30013
}

#timer {
    font-size: 24px;
    color: #6e6e6e;
    margin-left: 50px
}

label {
    font-size: 13px;
    color: #6c757d
}

.vc_custom_1555840893669 {
    padding-top: 0!important;
    margin-bottom: 30px;
    background-image: url(../../../../assets/uploads/2019/03/bg-feedback.jpg)!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important
}

.vc_custom_1551787044416 {
    margin-right: 0!important;
    margin-left: 0!important;
    padding-top: 0!important;
    padding-bottom: 0!important;
    background-image: url(../../../../assets/uploads/2019/03/bg-sec2f6dd.jpg?id=4013)!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important
}

.vc_custom_1554306368466 {
    margin-right: 0!important;
    margin-left: 0!important;
    padding-top: 85px!important;
    padding-bottom: 80px!important
}

.vc_custom_1555840920391 {
    margin-right: 0!important;
    margin-left: 0!important;
    padding-top: 85px!important;
    padding-bottom: 50px!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important
}

.vc_custom_1555840893658 {
    padding-top: 50px!important;
    padding-bottom: 75px!important;
    margin-bottom: 30px;
    background-image: url(../../../../assets/uploads/2019/03/bg-galery.jpg?id=4109)!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important
}

.vc_custom_1554305532360 {
    padding-top: 85px!important;
    padding-bottom: 155px!important
}

.vc_custom_1554304545617 {
    padding-top: 0!important;
    padding-bottom: 90px!important;
    background-image: url(../../../../assets/uploads/2019/04/bg-action.jpg?id=4145)!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important
}

.vc_custom_1555422380504 {
    border-left-width: 1px!important;
    padding-top: 0!important;
    padding-right: 0!important;
    padding-left: 0!important;
    border-left-color: #b7b7b7!important;
    border-left-style: dotted!important
}

.vc_custom_1555422390435 {
    border-left-width: 1px!important;
    padding-top: 0!important;
    padding-right: 0!important;
    padding-left: 0!important;
    border-left-color: #b7b7b7!important;
    border-left-style: dotted!important
}

.vc_custom_1555422398933 {
    border-left-width: 1px!important;
    padding-top: 0!important;
    padding-right: 0!important;
    padding-left: 0!important;
    border-left-color: #b7b7b7!important;
    border-left-style: dotted!important
}

.vc_custom_1555422407749 {
    border-right-width: 1px!important;
    border-left-width: 1px!important;
    padding-top: 0!important;
    padding-right: 0!important;
    padding-left: 0!important;
    border-left-color: #b7b7b7!important;
    border-left-style: dotted!important;
    border-right-color: #b7b7b7!important;
    border-right-style: dotted!important
}

.vc_custom_1554994736676 {
    padding-top: 85px!important;
    padding-bottom: 80px!important;
    padding-left: 0!important
}

.vc_custom_1554994790097 {
    padding-top: 80px!important;
    padding-right: 15%!important;
    padding-bottom: 90px!important;
    padding-left: 15%!important;
    background-image: url(../../../../assets/uploads/2019/03/bg-sec2-r.jpg?id=4014)!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important
}

.vc_custom_1551779865267 {
    margin-top: 10px!important
}

.vc_custom_1555429066870 {
    padding-top: 8px!important
}

.vc_custom_1551776258381 {
    margin-bottom: 10px!important
}

.vc_custom_1556955434390 {
    margin-top: 0!important;
    margin-right: 12px!important;
    margin-bottom: 0!important
}

.vc_custom_1551778946332 {
    margin-bottom: 0!important
}

.vc_custom_1551778953216 {
    margin-bottom: 0!important
}

.vc_custom_1551778959213 {
    margin-bottom: 0!important
}

.vc_custom_1551753326011 {
    background-image: url(../../../../assets/uploads/2019/03/bg-sec2-cre.png?id=4025)!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important
}

.vc_custom_1554991337840 {
    padding-left: 30%!important
}

.vc_custom_1551754321697 {
    margin-bottom: 10px!important
}

.vc_custom_1554306450557 {
    margin-bottom: 0!important
}

.vc_custom_1554990359708 {
    margin-bottom: 0!important
}

.vc_custom_1554990372341 {
    margin-top: 0!important
}

.vc_custom_1554990390751 {
    margin-bottom: 0!important
}

.vc_custom_1554990400334 {
    margin-top: 0!important
}

.vc_custom_1554990411217 {
    margin-bottom: 0!important
}

.vc_custom_1554990422165 {
    margin-top: 0!important
}

.vc_custom_1554990431598 {
    margin-bottom: 0!important
}

.vc_custom_1554990442258 {
    margin-top: 0!important
}

.vc_custom_1551842392658 {
    margin-right: -15px!important;
    margin-left: -15px!important
}

.vc_custom_1551842200523 {
    padding-right: 0!important;
    padding-left: 0!important
}

.vc_custom_1554306357595 {
    margin-top: 0!important;
    margin-bottom: 0!important
}

.vc_custom_1554306344515 {
    margin-top: 0!important;
    margin-bottom: 25px!important
}

.vc_custom_1554306329252 {
    margin-bottom: 30px!important
}

.vc_custom_1551860228854 {
    margin-bottom: 10px!important
}

.vc_custom_1554824150141 {
    padding-right: 0!important;
    padding-left: 0!important
}

.vc_custom_1554306206371 {
    margin-top: 0!important;
    margin-bottom: 0!important
}

.vc_custom_1554306221167 {
    margin-top: 0!important;
    margin-bottom: 25px!important
}

.vc_custom_1554993936836 {
    padding-top: 50px!important;
    padding-right: 50px!important;
    padding-bottom: 50px!important;
    padding-left: 50px!important;
    background-color: #ffffff!important;
    border-radius: 2px!important
}

.vc_custom_1554305925888 {
    margin-top: 0!important;
    margin-bottom: 0!important
}

.vc_custom_1554306700504 {
    margin-top: 0!important;
    margin-bottom: 25px!important
}

.vc_custom_1554305906243 {
    margin-bottom: 30px!important
}

.vc_custom_1554823768166 {
    margin-bottom: 20px!important;
    padding-top: 0!important;
    padding-bottom: 0!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important
}

.vc_custom_1554823781147 {
    margin-bottom: 20px!important;
    padding-top: 0!important;
    padding-bottom: 0!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important
}

.vc_custom_1554817706051 {
    padding-top: 50px!important;
    padding-right: 20px!important;
    padding-bottom: 20px!important;
    padding-left: 20px!important;
    background-color: #ffffff!important
}

.vc_custom_1554043299260 {
    margin-top: 10px!important;
    margin-bottom: 0!important
}

.vc_custom_1554817553995,
.vc_custom_1554817574765 {
    margin-right: 0!important;
    margin-left: 0!important;
    padding-top: 50px!important;
    padding-bottom: 40px!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important
}

.vc_custom_1554817734965 {
    padding-top: 50px!important;
    padding-right: 20px!important;
    padding-bottom: 20px!important;
    padding-left: 20px!important;
    background-color: #ffffff!important
}

.vc_custom_1554043299260 {
    margin-top: 10px!important;
    margin-bottom: 0!important
}

.vc_custom_1555841633328 {
    padding-right: 0!important;
    padding-left: 0!important
}

.vc_custom_1554047648999 {
    margin-top: 10px!important
}

.vc_custom_1554046928354 {
    margin-bottom: 10px!important
}

.vc_custom_1554215360730 {
    padding-right: 0!important;
    padding-left: 0!important
}

.vc_custom_1554305733296 {
    margin-top: 0!important;
    margin-bottom: 0!important
}

.vc_custom_1554305659116 {
    margin-top: 0!important;
    margin-bottom: 25px!important
}

.vc_custom_1554305545292 {
    margin-bottom: 15px!important
}

.vc_custom_1554304983948 {
    padding-right: 2%!important;
    padding-left: 2%!important
}

.vc_custom_1554219139495 {
    margin-top: -100px!important
}

.vc_custom_1555426735347 {
    margin-bottom: 20px!important;
    padding-top: 40px!important;
    padding-right: 20px!important;
    padding-bottom: 40px!important;
    padding-left: 20px!important;
    background-image: url(../../../../assets/uploads/2019/04/st1.jpg?id=4147)!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important
}

.vc_custom_1555426788618 {
    margin-bottom: 20px!important;
    padding-top: 40px!important;
    padding-right: 20px!important;
    padding-bottom: 40px!important;
    padding-left: 20px!important;
    background-image: url(../../../../assets/uploads/2019/04/st2.jpg?id=4148)!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important
}

.vc_custom_1555426839101 {
    margin-bottom: 20px!important;
    padding-top: 40px!important;
    padding-right: 20px!important;
    padding-bottom: 40px!important;
    padding-left: 20px!important;
    background-image: url(../../../../assets/uploads/2019/04/st3.jpg?id=4149)!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important
}

.vc_custom_1555426879466 {
    margin-bottom: 20px!important;
    padding-top: 40px!important;
    padding-right: 20px!important;
    padding-bottom: 40px!important;
    padding-left: 20px!important;
    background-image: url(../../../../assets/uploads/2019/04/st4.jpg?id=4150)!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important
}

.vc_custom_1555426935917 {
    margin-bottom: 20px!important;
    padding-top: 40px!important;
    padding-right: 20px!important;
    padding-bottom: 40px!important;
    padding-left: 20px!important;
    background-image: url(../../../../assets/uploads/2019/04/st5.jpg?id=4151)!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important
}

.vc_custom_1555426780680 {
    margin-bottom: 5px!important
}

.vc_custom_1555426810894 {
    margin-bottom: 5px!important
}

.vc_custom_1555426856956 {
    margin-bottom: 5px!important
}

.vc_custom_1555426900822 {
    margin-bottom: 5px!important
}

.vc_custom_1555426949652 {
    margin-bottom: 5px!important
}

.vc_custom_1555982564701 {
    margin-top: 16px!important;
    margin-bottom: 16px!important
}

.vc_custom_1555982585324 {
    margin-bottom: 0!important
}

.contact-form {
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%
}

.contact-form .form-control {
    border-radius: 1rem
}

.contact-image {
    text-align: center
}

.contact-image img {
    border-radius: 6rem;
    width: 11%;
    margin-top: 1%;
    transform: rotate(29deg)
}

.contact-form form {
    padding: 12%
}

.contact-form form .row {
    margin-bottom: -7%
}

.contact-form h3 {
    margin-bottom: 8%;
    margin-top: -13%;
    text-align: center;
    color: #212529
}

.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer
}

.btnContactSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer
}

.vc_section.contact {
    background: -webkit-linear-gradient(left, #0072ff, #00c6ff)
}

.wpb_animate_when_almost_visible {
    opacity: 1
}

.blog .carousel-indicators {
    left: 0;
    top: auto;
    bottom: -40px
}

.vc_custom_1554308572470 {
    padding-top: 50px!important;
    padding-bottom: 15px!important;
    background-image: url(../../../../assets/uploads/2019/02/footer4ed2.jpg?id=3976)!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important
}

.vc_custom_1555423504967 {
    padding-top: 0!important;
    padding-bottom: 0!important
}

.vc_custom_1555944491211 {
    margin-top: 12px!important;
    margin-bottom: 0!important
}

.vc_custom_1551261205632 {
    margin-bottom: 13px!important
}

@media only screen and (max-width:768px) and (min-width:426px) {
    .bt-stories-tes {
        height: 215px;
        margin-top: -22px
    }
}

@media only screen and (max-width:425px) and (min-width:321px) {
    .bt-stories-tes {
        height: 275px
    }
}